.App-header {
  background-color: #1f012c;
  padding: 20px;
  color: white;
  text-align: center;
}

.panel-progress-bar {
  background-color: #390360;
  min-height: 28px;
}

.panel-question {
  font-weight: bold;
  position: relative;
  color: aliceblue;

  text-align: right;
  margin-right: 2rem;
}

@media (max-width: 900px) {
  .panel-question {
    font-weight: bold;
    color: aliceblue;
    top: 2rem;
    text-align: right;
    margin-right: 2rem;
    min-width: 489px;
  }
}

/*
  
*/
