/* ProgressBar.css */
.progress-bar {
  width: 100wv;
  background-color: #390360;
  overflow: hidden;
}

.progress-bar-fill {
  height: 10px;
  background-color: #ff00cc;
  transition: width 0.5s ease-in-out;
}
