/* Añade estos estilos a tu archivo quiz.css o un archivo CSS específico para el spinner */
.loading-spinner {
  position: relative;
  left: 40%;
  top: 200px;
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.panel-container {
  display: flex;
  justify-content: left;
  align-items: left;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #700e96;
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-height: 480px;
}

.title-panel {
  width: 80%;
  margin: 0 auto;
  background-color: #6a0dad;
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

.question-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 2.5rem;
  background-color: #043c95;
  color: #fff;
  height: 70px;
}
.button-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100px;
  width: 80%;
}

.footer-panel {
  width: 80%;
  margin: 0 auto;
  background-color: #6a0dad;
  color: #fff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

/*Answer Options*/
.answerOptions {
  margin: 0;
  padding: 0;
  list-style: none;
}

.question {
  margin: 0;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
}

.answerDescription {
  max-width: 670px;
}

/*Media Panels*/
/******************************************************/
@media (max-width: 900px) {
  .panel-container {
    display: flex;
    justify-content: left;
    align-items: left;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #700e96;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 480px;
    min-width: 387px;
  }

  .question-panel {
    width: 80%;
    margin: 0 auto;
    margin-top: 5rem;
    background-color: #043c95;
    color: #fff;
    min-height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 387px;
  }

  .title-panel {
    width: 80%;
    margin: 0 auto;
    background-color: #6a0dad;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    min-width: 387px;
  }

  .progress-panel {
    width: 80%;
    margin: 0 auto;
    background-color: #6a0dad;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    min-width: 387px;
  }
}

/* Media */
/*Answer Options*/
@media (max-width: 1650px) {
  .answerDescription {
    max-width: 450px;
    background-color: #fff;
    padding: 1rem;
  }

  .answerOptions {
    position: relative;
    margin: 0;
    left: -20px;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.9); /* Blanco con 20% de opacidad */
    min-width: 200px;
    min-height: 370px;
  }
}

@media (max-width: 1350px) {
  .answerDescription {
    max-width: 400px;
  }

  .answerOptions {
    position: relative;
    margin: 0;
    left: -20px;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.9); /* Blanco con 20% de opacidad */
    min-width: 200px;
    min-height: 370px;
  }
}

@media (max-width: 900px) {
  .answerOptions {
    position: relative;
    margin: 0;
    left: -20px;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.9); /* Blanco con 20% de opacidad */
    min-width: 200px;
    min-height: 370px;
  }

  .question {
    padding: 0.5rem 2.5rem 1.5rem 2.5rem;
    min-width: 356px;
    height: 80px;
  }
}
